<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.mapper.define.DefineJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.manager.entity.define.DefineJob">
        <id column="fid" property="fid" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="version" property="version" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="last_modifyer" property="lastModifyer" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid, name,description , type, state, version,remark, create_time AS createTime, update_time AS updateTime,create_user AS createUser,last_modifyer AS lastModifyer
    </sql>

    <sql id="Base_Dj_Column_List">
        dj.fid, dj.name,dj.description , dj.type, dj.state, dj.version,dj.remark, dj.create_time AS createTime, dj.update_time AS updateTime,dj.create_user AS createUser,dj.last_modifyer AS lastModifyer
    </sql>


    <select id="findAllJobByUserAcccountId"  resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Dj_Column_List" />
        FROM em_define_job dj
        left JOIN em_user_job uj on dj.fid = uj.define_job_id
        WHERE
        uj.user_account_id = #{userAccountId}
        and  uj.state = #{stateVal}
    </select>


    <update id="batchFakeDelByIds" parameterType="java.util.List" >
        UPDATE em_define_job SET  state = -1
        <if test="loginUser != null">
            ,last_modifyer = #{loginUser.fid}
        </if>
        WHERE fid IN (
        <foreach collection="delIds" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
        )
    </update>
</mapper>
