<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.mapper.define.DefineRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.manager.entity.define.DefineRole">
        <id column="fid" property="fid" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="last_modifyer_id" property="lastModifyerId" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid, name, code, type, state, create_time AS createTime, update_time AS updateTime,create_user_id AS createUserId,last_modifyer_id AS lastModifyerId,remark
    </sql>
    <sql id="Base_Dr_Column_List">
        dr.fid, dr.name, dr.code, dr.type, dr.state, dr.create_time AS createTime, dr.update_time AS updateTime,dr.create_user_id AS createUserId,dr.last_modifyer_id AS lastModifyerId,dr.remark
    </sql>


    <update id="batchFakeDelByIds" >
        UPDATE em_define_role
        SET state = -1
        <if test="loginUser != null">
            ,last_modifyer_id = #{loginUser.fid}
        </if>
        WHERE fid IN
        <foreach collection="delIds" index="index" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <select id="findAllRoleByUserAcccountId"  resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Dr_Column_List" />
        FROM em_define_role dr
        left JOIN em_user_role ur on dr.fid = ur.define_role_id
        WHERE
            ur.user_account_id = #{userAccountId}
            and  ur.state = #{stateVal}
    </select>
</mapper>
