<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.persistence.db.mysql.mapper.define.DefineJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.manager.persistence.db.mysql.entity.define.DefineJob">
        <id column="fid" property="fid" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="last_modifyer_id" property="lastModifyerId" />
    </resultMap>


    <!-- 通用Dto查询映射结果 -->
    <resultMap id="DtoResultMap" type="com.egg.manager.persistence.pojo.dto.mysql.define.DefineJobDto">
        <id column="fid" property="fid" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="last_modifyer_id" property="lastModifyerId" />
        <association column="create_user_id" property="createUser" fetchType="lazy" select="com.egg.manager.persistence.db.mysql.mapper.user.UserAccountMapper.commonSelectUserAccountById" />
        <association column="last_modifyer_id" property="lastModifyer" fetchType="lazy" select="com.egg.manager.persistence.db.mysql.mapper.user.UserAccountMapper.commonSelectUserAccountById" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid, name,description,type, state, remark, create_time, update_time,create_user_id,last_modifyer_id
    </sql>

    <!--
            通用查询结果列(多表查询用)
            需要参数 base_alias_name 本次查询该表的别名
        -->
    <sql id="Base_Alias_Table_List">
        ${base_alias_name}.fid,
        ${base_alias_name}.name,
        ${base_alias_name}.description,
        ${base_alias_name}.type,
        ${base_alias_name}.remark,
        ${base_alias_name}.state,
        ${base_alias_name}.create_time,
        ${base_alias_name}.update_time,
        ${base_alias_name}.create_user_id,
        ${base_alias_name}.last_modifyer_id
    </sql>


    <!--
            通用查询结果列(多表查询用)
            需要参数 base_alias_name 本次查询该表的别名
            参数 base_alias_col_prefix 本次查询的columnPrefix，便于与 association结合，一般建议该参数以 _ 结尾,适用于 层级关系
        -->
    <sql id="Base_Alias_TableColumn_List">
        ${base_alias_name}.fid AS ${base_alias_col_prefix}fid,
        ${base_alias_name}.name AS ${base_alias_col_prefix}name,
        ${base_alias_name}.description AS ${base_alias_col_prefix}description,
        ${base_alias_name}.type AS ${base_alias_col_prefix}type,

        ${base_alias_name}.remark AS ${base_alias_col_prefix}remark,
        ${base_alias_name}.state AS ${base_alias_col_prefix}state,
        ${base_alias_name}.create_time AS ${base_alias_col_prefix}create_time,
        ${base_alias_name}.update_time AS ${base_alias_col_prefix}update_time,
        ${base_alias_name}.create_user_id AS ${base_alias_col_prefix}create_user_id,
        ${base_alias_name}.last_modifyer_id AS ${base_alias_col_prefix}last_modifyer_id
    </sql>


    <select id="selectQueryPage" resultMap="DtoResultMap">
        SELECT
        <include refid="Base_Alias_Table_List">
            <property name="base_alias_name" value="edj" />
        </include>
        FROM em_define_job edj
        <where>
            <include refid="com.egg.manager.persistence.db.mysql.mapper.common.DefaultCommonFuncMapper.Default_Common_QueryPage_Where_Sql" >
                <property name="table_name_alias" value="edj" />
            </include>
        </where>
        <include refid="com.egg.manager.persistence.db.mysql.mapper.common.DefaultCommonFuncMapper.Default_Common_QueryPage_Sort_Sql" >
            <property name="table_name_alias" value="edj" />
        </include>
    </select>


    <select id="findAllJobByUserAcccountId"  resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Alias_Table_List">
            <property name="base_alias_name" value="dj" />
        </include>
        FROM em_define_job dj
        left JOIN em_user_job uj on dj.fid = uj.define_job_id
        WHERE
        uj.user_account_id = #{userAccountId}
        and  uj.state = #{stateVal}
    </select>


    <update id="batchFakeDelByIds" parameterType="java.util.List" >
        UPDATE em_define_job SET  state = -1
        <if test="loginUser != null">
            ,last_modifyer_id = #{loginUser.fid}
        </if>
        WHERE fid IN (
        <foreach collection="delIds" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
        )
    </update>
</mapper>
