<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.mapper.define.DefineDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.manager.entity.define.DefineDepartment">
        <id column="fid" property="fid" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="order_num" property="orderNum" />
        <result column="description" property="description" />

        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="last_modifyer" property="lastModifyer" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid, name,code, parent_id, level,order_num,description, state, create_time AS createTime, update_time AS updateTime,create_user AS createUser,last_modifyer AS lastModifyer
    </sql>

    <sql id="Base_Dd_Column_List">
        dd.fid, dd.name,dd.code, dd.parent_id, dd.level,dd.order_num,dd.description, dd.state, dd.create_time, dd.update_time,dd.create_user,dd.last_modifyer
    </sql>


    <update id="batchFakeDelByIds" >
        UPDATE em_define_department
        SET state = -1
        <if test="loginUser != null">
            ,last_modifyer = #{loginUser.fid}
        </if>
        WHERE fid IN
        <foreach collection="delIds" index="index" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>




    <select id="getDepartmentFilterChildrens" resultMap="BaseResultMap">
        SELECT  <include refid="Base_Dd_Column_List" />
        from em_define_department dd
        left join em_define_department ddc
        on dd.parent_id = ddc.fid
        where dd.parent_id != #{filterId}
        <if test="onlyEnable == true">
            and dd.state = 1
        </if>
        order by level,order_num,create_time desc
    </select>
</mapper>
