<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.persistence.db.mysql.mapper.define.DefineDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.manager.persistence.db.mysql.entity.define.DefineDepartment">
        <id column="fid" property="fid" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="order_num" property="orderNum" />
        <result column="description" property="description" />

        <result column="remark" property="remark" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="last_modifyer_id" property="lastModifyerId" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="DtoResultMap" type="com.egg.manager.persistence.pojo.dto.define.DefineDepartmentDto">
        <id column="fid" property="fid" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="order_num" property="orderNum" />
        <result column="description" property="description" />

        <result column="remark" property="remark" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="last_modifyer_id" property="lastModifyerId" />
        <association column="parent_id"  property="parentDepartment"
                     columnPrefix="parent_"
                     javaType="com.egg.manager.persistence.pojo.dto.define.DefineDepartmentDto">
            <id column="fid" property="fid"/>
            <result column="name" property="name" />
            <result column="code" property="code" />
            <result column="parent_id" property="parentId" />
            <result column="level" property="level" />
            <result column="order_num" property="orderNum" />
            <result column="description" property="description" />
            <result column="state" property="state" />
            <result column="create_time" property="createTime" />
            <result column="update_time" property="updateTime" />
            <result column="create_user_id" property="createUserId" />
            <result column="last_modifyer_id" property="lastModifyerId" />
        </association>
        <association column="create_user_id" property="createUser" fetchType="lazy" select="com.egg.manager.persistence.db.mysql.mapper.user.UserAccountMapper.commonSelectUserAccountById" />
        <association column="last_modifyer_id" property="lastModifyer" fetchType="lazy" select="com.egg.manager.persistence.db.mysql.mapper.user.UserAccountMapper.commonSelectUserAccountById" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid, name,code, parent_id, level,order_num,description,remark, state, create_time, update_time,create_user_id,last_modifyer_id
    </sql>


    <!--
            通用查询结果列(多表查询用)
            需要参数 base_alias_name 本次查询该表的别名
        -->
    <sql id="Base_Alias_Table_List">
        ${base_alias_name}.fid,
        ${base_alias_name}.name,
        ${base_alias_name}.code,
        ${base_alias_name}.parent_id,
        ${base_alias_name}.level,
        ${base_alias_name}.order_num,
        ${base_alias_name}.description,
        ${base_alias_name}.remark,
        ${base_alias_name}.state,
        ${base_alias_name}.create_time,
        ${base_alias_name}.update_time,
        ${base_alias_name}.create_user_id,
        ${base_alias_name}.last_modifyer_id
    </sql>


    <!--
            通用查询结果列(多表查询用)
            需要参数 base_alias_name 本次查询该表的别名
            参数 base_alias_col_prefix 本次查询的columnPrefix，便于与 association结合，一般建议该参数以 _ 结尾,适用于 层级关系
        -->
    <sql id="Base_Alias_TableColumn_List">
        ${base_alias_name}.fid AS ${base_alias_col_prefix}fid,
        ${base_alias_name}.name AS ${base_alias_col_prefix}name,
        ${base_alias_name}.code AS ${base_alias_col_prefix}code,
        ${base_alias_name}.parent_id AS ${base_alias_col_prefix}parent_id,
        ${base_alias_name}.level AS ${base_alias_col_prefix}level,
        ${base_alias_name}.order_num AS ${base_alias_col_prefix}order_num,
        ${base_alias_name}.description AS ${base_alias_col_prefix}description,
        ${base_alias_name}.remark AS ${base_alias_col_prefix}remark,
        ${base_alias_name}.state AS ${base_alias_col_prefix}state,
        ${base_alias_name}.create_time AS ${base_alias_col_prefix}create_time,
        ${base_alias_name}.update_time AS ${base_alias_col_prefix}update_time,
        ${base_alias_name}.create_user_id AS ${base_alias_col_prefix}create_user_id,
        ${base_alias_name}.last_modifyer_id AS ${base_alias_col_prefix}last_modifyer_id
    </sql>


    <select id="selectQueryPage" resultMap="DtoResultMap">
        SELECT
        <include refid="Base_Alias_Table_List">
            <property name="base_alias_name" value="edd" />
        </include>
        , <include refid="Base_Alias_TableColumn_List">
            <property name="base_alias_name" value="par_edd" />
            <property name="base_alias_col_prefix" value="parent_" />
        </include>
        FROM em_define_department edd
        LEFT JOIN em_define_department par_edd
        on edd.parent_id = par_edd.fid
        <where>
            <include refid="com.egg.manager.persistence.db.mysql.mapper.common.DefaultCommonFuncMapper.Default_Common_QueryPage_Where_Sql" >
                <property name="table_name_alias" value="edd" />
            </include>
        </where>
        <include refid="com.egg.manager.persistence.db.mysql.mapper.common.DefaultCommonFuncMapper.Default_Common_QueryPage_Sort_Sql" >
            <property name="table_name_alias" value="edd" />
        </include>
    </select>

    <select id="getDepartmentFilterChildrens" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Alias_Table_List" >
            <property name="base_alias_name" value="dd" />
        </include>
        from em_define_department dd
        left join em_define_department ddc
        on dd.parent_id = ddc.fid
        where dd.parent_id != #{filterId}
        <if test="onlyEnable == true">
            and dd.state = 1
        </if>
        order by level,order_num,create_time desc
    </select>


    <update id="batchFakeDelByIds" >
        UPDATE em_define_department
        SET state = -1
        <if test="loginUser != null">
            ,last_modifyer_id = #{loginUser.fid}
        </if>
        WHERE fid IN
        <foreach collection="delIds" index="index" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>





</mapper>
