# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
#*.zip
*.tar.gz
*.gz
*.rar

#target
\target\
#idea conf
*.iml
.idea/
AssetsInclude/
egg-api/target/
egg-generate/target/
#egg-mongodb/target/
egg-persistence/target/
egg-baseService/target/
egg-web/target/

egg-api.iml
egg-common.iml
egg-generate.iml
#egg-mongodb.iml
egg-persistence.iml
egg-baseService.iml
egg-web.iml

#outlogs
outlogs/


# virtual machine crash outlogs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
%E5%91%98%E5%B7%A5%E4%BF%A1%E6%81%AF222%E9%80%89%E6%8B%A9%E5%AF%BC%E5%87%BA%E8%A1%A8.xlsx
"docs/excel/templates/user/\347\224\250\346\210\267\344\277\241\346\201\257\345\257\274\345\205\245.xlsx"
egg-api/src/test/
egg-common/src/test/
egg-generate/src/test/
#egg-mongodb/src/test/
egg-persistence/src/test/
egg-baseService/src/test/
egg-web/src/test/
"\345\221\230\345\267\245\344\277\241\346\201\257222\351\200\211\346\213\251\345\257\274\345\207\272\350\241\250.xlsx"
/oolong-blog-web/target/
