<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.mapper.user.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.manager.entity.user.UserRole">
        <id column="fid" property="fid" />
        <result column="user_account_id" property="userAccountId" />
        <result column="define_role_id" property="defineRoleId" />
        <result column="type" property="type" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="last_modifyer_id" property="lastModifyerId" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid, user_account_id AS userAccountId, define_role_id AS userRoleId, type, state, create_time AS createTime, update_time AS updateTime,create_user_id AS createUserId,last_modifyer_id AS lastModifyerId,remark
    </sql>
    <sql id="Base_Insert_Column_List">
        fid, user_account_id, define_role_id, type, state, create_time, update_time,create_user_id,last_modifyer_id,remark
    </sql>

    <sql id="Base_Insert_Item_Column_List">
        #{item.fid},
        #{item.userAccountId},
        #{item.defineRoleId},
        #{item.type},
        #{item.state},
        #{item.createTime},
        #{item.updateTime},
        #{item.createUserId},
        #{item.lastModifyerId},
        #{item.remark}
    </sql>



    <insert id="customBatchInsert">
        INSERT INTO em_user_role(
          <include refid="Base_Insert_Column_List" />
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            <include refid="Base_Insert_Item_Column_List" />
            )
        </foreach>
    </insert>

    <update id="batchFakeDelByIds" parameterType="java.util.List">
        UPDATE em_user_role
        SET state = -1
            <if test="loginUser != null">
                ,last_modifyer_id=#{loginUser.fid}
            </if>
        where fid IN
        <foreach collection="delIds" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <update id="batchUpdateStateByUserAccountId">
        UPDATE em_user_role
        SET  state = #{stateVal}
            <if test="loginUser != null">
                ,last_modifyer_id=#{loginUser.fid}
            </if>
        where user_account_id = #{userAccountId}
        and define_role_id IN
        <foreach collection="roleIdList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <select id="findAllRoleIdByUserAccountId"  resultType="java.lang.String">
        SELECT dr.fid FROM em_define_role dr
        left JOIN em_user_role ur on dr.fid = ur.define_role_id
        <where>
            and ur.user_account_id = #{userAccountId}
            <if test="filterEnable == true">
                and ur.state = 1
            </if>
        </where>

    </select>
</mapper>
