<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.mapper.common.DefaultCommonFuncMapper">


    <!--
        [Common]分页搜索-where 语句拼接
        必须采用QueryFormFieldBean作为搜索字段集合传入，且别名必须为 queryFieldList
        需另外在sql中传入  ${table_name_alias} 为要检索的主表在本次分页查询搜索的别名
    -->
    <sql id="Default_Common_QueryPage_Where_Sql" >
        <if test="queryFieldList != null and queryFieldList.size()>0">
            <foreach collection="queryFieldList" index="index" item="item" separator="">
                AND ${table_name_alias}.${item.fieldName}
                <choose>
                    <when test="item.matching == 'equals' ">
                        = ${item.value}
                    </when>
                    <when test="item.matching == 'notEquals' ">
                        != ${item.value}
                    </when>
                    <when test="item.matching == 'like' ">
                        LIKE CONCAT(CONCAT('%', #{item.value}), '%')
                    </when>
                </choose>
            </foreach>
        </if>
    </sql>

    <!--
        [Common]分页搜索-sort 语句拼接
        必须采用 AntdvSortBean 作为搜索字段集合传入，且别名必须为 sortFieldList
        需另外在sql中传入  ${table_name_alias} 为要检索的主表在本次分页查询搜索的别名
    -->
    <sql id="Default_Common_QueryPage_Sort_Sql">
        <if test="sortFieldList != null and sortFieldList.size()>0">
            ORDER  BY
            <foreach collection="sortFieldList" index="index" item="item" separator=",">
                ${table_name_alias}.${item.field}
                <choose>
                    <when test="item.isAsc == true">
                        asc
                    </when>
                    <when test="item.isAsc == false">
                        desc
                    </when>
                </choose>
            </foreach>
        </if>
    </sql>

</mapper>
