<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.persistence.enhance.db.mysql.mapper.common.OperTableInfoMapper">

    <select id="getAllTableName" resultType="string">
        select table_name from information_schema.tables where table_schema=#{databaseName};
    </select>
</mapper>
