<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.mapper.module.DefineMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.manager.entity.module.DefineMenu">
        <id column="fid" property="fid" />
        <result column="parent_id" property="parentId" />
        <result column="menu_name" property="menuName" />
        <result column="url_jump_type" property="urlJumpType" />
        <result column="icon_name" property="iconName" />
        <result column="router_url" property="routerUrl" />
        <result column="href_url" property="hrefUrl" />
        <result column="label" property="label" />
        <result column="level" property="level" />
        <result column="order_num" property="orderNum" />

        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="last_modifyer" property="lastModifyer" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid,parent_id AS parentId,menu_name AS menuName, url_jump_type AS urlJumpType,icon_name AS iconName,router_url AS routerUrl,href_url AS hrefUrl,label,level,order_num  AS orderNum,
        state, create_time AS createTime, update_time AS updateTime,create_user AS createUser,last_modifyer AS lastModifyer
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Dm_Column_List">
        dm.fid,dm.parent_id,dm.menu_name, dm.url_jump_type,dm.icon_name,dm.router_url,dm.href_url,dm.label,dm.level,dm.order_num,
        dm.state, dm.create_time, dm.update_time,dm.create_user,dm.last_modifyer
    </sql>


    <update id="batchFakeDelByIds" >
        UPDATE em_define_menu
        SET state = -1
        <if test="loginUser != null">
            ,last_modifyer = #{loginUser.fid}
        </if>
        WHERE fid IN
        <foreach collection="delIds" index="index" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <select id="getMenusFilterChildrens" resultMap="BaseResultMap">
        SELECT  <include refid="Base_Dm_Column_List" />
        from em_define_menu dm
        left join em_define_menu dmc
        on dm.parent_id = dmc.fid
        where dm.parent_id != #{filterId}
        <if test="onlyEnable == true">
            and dm.state = 1
        </if>
        order by level,order_num,create_time desc
    </select>
</mapper>
