<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.mapper.announcement.AnnouncementDraftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.manager.entity.announcement.AnnouncementDraft">
        <id column="fid" property="fid" />
        <result column="title" property="title" />
        <result column="key_word" property="keyWord" />
        <result column="publish_department" property="publishDepartment" />
        <result column="content" property="content" />
        <result column="tag_ids" property="tagIds" />
        <result column="accessory" property="accessory" />
        <result column="content" property="content" />
        <result column="is_published" property="isPublished" />

        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="last_modifyer" property="lastModifyer" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid,title,key_word,publish_department,content,tag_ids,accessory,content,
        state,create_time AS createTime, update_time AS updateTime,create_user AS createUser,last_modifyer AS lastModifyer
    </sql>

    <update id="batchFakeDelByIds" >
        UPDATE em_announcement_draft
        SET state = -1
        <if test="loginUser != null">
            ,last_modifyer = #{loginUser.fid}
        </if>
        WHERE fid IN
        <foreach collection="delIds" index="index" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="batchPublishByIds" >
        UPDATE em_announcement_draft
        SET state = -1,is_published = 1
        <if test="loginUser != null">
            ,last_modifyer = #{loginUser.fid}
        </if>
        WHERE fid IN
        <foreach collection="delIds" index="index" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
</mapper>
