<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.persistence.em.user.db.mysql.mapper.UserJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.manager.persistence.em.user.db.mysql.entity.UserJobEntity">
        <id column="fid" property="fid"/>
        <result property="userAccountId" column="user_account_id"/>
        <result property="defineJobId" column="define_job_id"/>
        <result property="state" column="state"/>
        <result property="remark" column="remark"/>
        <result property="lastModifyerId" column="last_modifyer_id"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="version" column="version"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="deletedTime" column="deleted_time"/>
    </resultMap>


    <!-- Dto通用查询映射结果 -->
    <resultMap id="DtoResultMap" extends="BaseResultMap"  type="com.egg.manager.persistence.em.user.pojo.dto.UserJobDto">
        <association column="create_user_id" property="createUser" fetchType="lazy"
                     select="com.egg.manager.persistence.em.user.db.mysql.mapper.UserAccountMapper.commonSelectUserAccountById"/>
        <association column="last_modifyer_id" property="lastModifyer" fetchType="lazy"
                     select="com.egg.manager.persistence.em.user.db.mysql.mapper.UserAccountMapper.commonSelectUserAccountById"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid, user_account_id, define_job_id,remark,state,create_time, update_time,create_user_id,last_modifyer_id
    </sql>
    <sql id="Base_Insert_Column_List">
        fid, user_account_id, define_job_id, remark,state, create_time, update_time,create_user_id,last_modifyer_id
    </sql>

    <!--
            通用查询结果列(多表查询用)
            需要参数 base_alias_name 本次查询该表的别名
        -->
    <sql id="Base_Alias_Table_List">
        ${base_alias_name}.fid,
        ${base_alias_name}.user_account_id,
        ${base_alias_name}.define_job_id,
        ${base_alias_name}.remark,
        ${base_alias_name}.state,
        ${base_alias_name}.create_time,
        ${base_alias_name}.update_time,
        ${base_alias_name}.create_user_id,
        ${base_alias_name}.last_modifyer_id
    </sql>

    <!--
            通用查询结果列(多表查询用)
            需要参数 base_alias_name 本次查询该表的别名
            参数 base_alias_col_prefix 本次查询的columnPrefix，便于与 association结合，一般建议该参数以 _ 结尾,适用于 层级关系
        -->
    <sql id="Base_Alias_TableColumn_List">
        ${base_alias_name}.fid AS ${base_alias_col_prefix}fid,
        ${base_alias_name}.user_account_id AS ${base_alias_col_prefix}user_account_id,
        ${base_alias_name}.define_job_id AS ${base_alias_col_prefix}define_job_id,
        ${base_alias_name}.remark AS ${base_alias_col_prefix}remark,
        ${base_alias_name}.state AS ${base_alias_col_prefix}state,
        ${base_alias_name}.create_time AS ${base_alias_col_prefix}create_time,
        ${base_alias_name}.update_time AS ${base_alias_col_prefix}update_time,
        ${base_alias_name}.create_user_id AS ${base_alias_col_prefix}create_user_id,
        ${base_alias_name}.last_modifyer_id AS ${base_alias_col_prefix}last_modifyer_id
    </sql>


    <sql id="Base_Insert_Item_Column_List">
        #{item.fid},
        #{item.userAccountId},
        #{item.defineJobId},
        #{item.remark},
        #{item.state},
        #{item.createTime},
        #{item.updateTime},
        #{item.createUserId},
        #{item.lastModifyerId}
    </sql>


    <select id="selectQueryPage" resultMap="DtoResultMap">
        SELECT
        <include refid="Base_Alias_Table_List">
            <property name="base_alias_name" value="euj"/>
        </include>
        FROM em_user_job euj
        <where>
            <include
                    refid="com.egg.manager.persistence.exchange.db.mysql.mapper.common.DefaultCommonFuncMapper.Default_Common_QueryPage_Where_Sql">
                <property name="table_name_alias" value="euj"/>
            </include>
        </where>
        <include
                refid="com.egg.manager.persistence.exchange.db.mysql.mapper.common.DefaultCommonFuncMapper.Default_Common_QueryPage_Sort_Sql">
            <property name="table_name_alias" value="euj"/>
        </include>
    </select>


    <insert id="customBatchInsert">
        INSERT INTO em_user_job(
        <include refid="Base_Insert_Column_List"/>
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <include refid="Base_Insert_Item_Column_List"/>
            )
        </foreach>
    </insert>

    <update id="batchUpdateStateByUserAccountId">
        UPDATE em_user_job
        SET state = #{stateVal}
        <if test="loginUser != null">
            ,last_modifyer_id=#{loginUser.fid}
        </if>
        where user_account_id = #{userAccountId}
        and define_job_id IN
        <foreach collection="jobIdList" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <select id="findAllJobIdByUserAccountId" resultType="java.lang.String">
        SELECT dr.fid FROM em_define_job dr
        left JOIN em_user_job uj on dr.fid = uj.define_job_id
        <where>
            and uj.user_account_id = #{userAccountId}
            <if test="filterEnable == true">
                and uj.state = 1
            </if>
        </where>

    </select>


</mapper>
