<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egg.manager.persistence.obl.article.db.mysql.mapper.OblArticleLikeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egg.manager.persistence.obl.article.db.mysql.entity.OblArticleLikeRecordEntity">
        <id property="fid" column="fid"/>
        <result property="articleId" column="article_id"/>
        <result property="operateUserId" column="operate_user_id"/>
        <result property="attitude" column="attitude"/>
        <result property="state" column="state"/>
        <result property="remark" column="remark"/>
        <result property="version" column="version"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="lastModifyerId" column="last_modifyer_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="deletedTime" column="deleted_time"/>
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="DtoResultMap" type="com.egg.manager.persistence.obl.article.pojo.dto.OblArticleLikeRecordDto" extends="BaseResultMap">
        <id property="fid" column="fid"/>
        <result property="articleId" column="article_id"/>
        <result property="operateUserId" column="operate_user_id"/>
        <result property="attitude" column="attitude"/>
        <result property="state" column="state"/>
        <result property="remark" column="remark"/>
        <result property="version" column="version"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="lastModifyerId" column="last_modifyer_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="deletedTime" column="deleted_time"/>
        <association column="create_user_id" property="createUser" fetchType="lazy"
                     select="com.egg.manager.persistence.em.user.db.mysql.mapper.UserAccountMapper.commonSelectUserAccountById"/>
        <association column="last_modifyer_id" property="lastModifyer" fetchType="lazy"
                     select="com.egg.manager.persistence.em.user.db.mysql.mapper.UserAccountMapper.commonSelectUserAccountById"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid,article_id,operate_user_id,attitude,state,remark,version,create_user_id,create_time,last_modifyer_id,update_time,is_deleted,deleted_time
    </sql>
    <!--
            通用查询结果列(多表查询用)
            需要参数 base_alias_name 本次查询该表的别名
        -->
    <sql id="Base_Alias_Table_List">
        ${base_alias_name}.fid,
        ${base_alias_name}.article_id,
        ${base_alias_name}.operate_user_id,
        ${base_alias_name}.attitude,
        ${base_alias_name}.state,
        ${base_alias_name}.remark,
        ${base_alias_name}.version,
        ${base_alias_name}.create_user_id,
        ${base_alias_name}.create_time,
        ${base_alias_name}.last_modifyer_id,
        ${base_alias_name}.update_time,
        ${base_alias_name}.is_deleted,
        ${base_alias_name}.deleted_time
    </sql>
    <!--
            通用查询结果列(多表查询用)
            需要参数 base_alias_name 本次查询该表的别名
            参数 base_alias_col_prefix 本次查询的columnPrefix，便于与 association结合，一般建议该参数以 _ 结尾,适用于 层级关系
        -->
    <sql id="Base_Alias_TableColumn_List">
        ${base_alias_name}.fid AS ${base_alias_col_prefix}fid,
        ${base_alias_name}.article_id AS ${base_alias_col_prefix}articleId,
        ${base_alias_name}.operate_user_id AS ${base_alias_col_prefix}operateUserId,
        ${base_alias_name}.attitude AS ${base_alias_col_prefix}attitude,
        ${base_alias_name}.state AS ${base_alias_col_prefix}state,
        ${base_alias_name}.remark AS ${base_alias_col_prefix}remark,
        ${base_alias_name}.version AS ${base_alias_col_prefix}version,
        ${base_alias_name}.create_user_id AS ${base_alias_col_prefix}createUserId,
        ${base_alias_name}.create_time AS ${base_alias_col_prefix}createTime,
        ${base_alias_name}.last_modifyer_id AS ${base_alias_col_prefix}lastModifyerId,
        ${base_alias_name}.update_time AS ${base_alias_col_prefix}updateTime,
        ${base_alias_name}.is_deleted AS ${base_alias_col_prefix}isDeleted,
        ${base_alias_name}.deleted_time AS ${base_alias_col_prefix}deletedTime
    </sql>


    <select id="selectQueryPage" resultMap="DtoResultMap">
        SELECT
        <include refid="Base_Alias_Table_List">
            <property name="base_alias_name" value="oat"/>
        </include>
        FROM obl_article_like_record oat
        <where>
            <include
                    refid="com.egg.manager.persistence.exchange.db.mysql.mapper.common.DefaultCommonFuncMapper.Default_Common_QueryPage_Where_Sql">
                <property name="table_name_alias" value="oat"/>
            </include>
        </where>
        <include
                refid="com.egg.manager.persistence.exchange.db.mysql.mapper.common.DefaultCommonFuncMapper.Default_Common_QueryPage_Sort_Sql">
            <property name="table_name_alias" value="oat"/>
        </include>
    </select>
</mapper>