##导入宏定义
$!define

##保存文件（宏定义）
#save("/easycode/generate/dto", "Dto.java")

##设置表后缀（宏定义）
#setTableSuffix("Dto")

##包路径（宏定义）
#setPackageSuffix("easycode.generate.dto")

import lombok.*;

import java.io.Serializable;
import java.util.Date;

/**
* @author zhoucj
* @description ${tableInfo.comment}-Dto
* @date $time.currTime('yyyy-MM-dd')
*/
@Data
@NoArgsConstructor
@AllArgsConstructor
@EqualsAndHashCode(callSuper = true)
public class $!{tableInfo.name}Dto extends MyBaseMysqlDto {
private static final long serialVersionUID = $tool.serial();

private String fid ;
#foreach($column in $tableInfo.otherColumn)
    #if(${column.comment})
    /**
    * ${column.comment}
    */
    #end
private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end


}